{{#if isShowingCompleted}}
    <span {{action "toggleShowingCompleted" false}} class="btnToggleList">In Progress</span>
{{else}}
    <span {{action "toggleShowingCompleted" true}} class="btnToggleList">Completed</span>
{{/if}}
<br>
<br>
{{create-new-task task=model.task createTask="createTask"}}
<br>
{{show-task-list showCompleted=isShowingCompleted tasks=model.data completeTask="completeTask"}}
