<tr>
    {{#if showCompleted}}
        {{#if task.dateCompleted}}
            <td>
                {{task.title}}
            </td> 
            <td>
                {{task.description}}
            </td>
            <td>
                <em>{{date-days-ago task.dateCompleted}}</em>
            </td>
            <td>
                &nbsp;
            </td>

        {{/if}}
    {{else}}
        {{#unless task.dateCompleted}}
            <td>
                {{task.title}}
            </td> 
            <td>
                {{task.description}}
            </td>
            <td>
                <em>{{date-days-ago task.dateCreated}}</em>
            </td>
            <td>
                <button {{action "completeTask" task}} class="btn btn-submit">Done</button>
            </td>
        {{/unless}}
    {{/if}}
</tr>
