<tr>
    {{#if showCompleted}}
        {{#if task.dateCompleted}}
            <td>
                <div class="DivTaskTableEntry">
                    {{task.title}}
                </div>
            </td> 
            <td>
                <div class="DivTaskTableEntry">
                    {{task.description}}
                </div>
            </td>
            <td>
                <div class="DivTaskTableEntryDate">
                    <em>{{date-days-ago task.dateCompleted}}</em>
                </div>
            </td>
            <td>
                <div class="DivTaskTableEntry">
                    &nbsp;
                </div>
            </td>

        {{/if}}
    {{else}}
        {{#unless task.dateCompleted}}
            <td>
                <div class="DivTaskTableEntry">
                    {{task.title}}
                </div>
            </td> 
            <td>
                <div class="DivTaskTableEntry">
                    {{task.description}}
                </div>
            </td>
            <td>
                <div class="DivTaskTableEntryDate">
                    <em>{{date-days-ago task.dateCreated}}</em>
                </div>
            </td>
            <td>
                <div class="DivTaskTableEntry">
                    <button {{action "completeTask" task}} class="btn btn-submit">Done</button>
                </div>
            </td>
        {{/unless}}
    {{/if}}
</tr>
